


<div class="icon-zap">
   <img src="/assets/images/whatsapp.png" alt="Minha foto">
</div>
<h2 class="first-text-contatos" >
{{ site.data.perfil.zap }}
</h2>

<div class="icon-git">
   <img src="/assets/images/github.png" alt="Minha foto">
</div>
<h2 class="second-text-contatos" >
{{ site.data.perfil.git }}
</h2>

<div class="icon-link">
   <img src="/assets/images/linkedin.png" alt="Minha foto">
</div>
</p>
<h2 class="thrid-text-contatos" >
{{ site.data.perfil.link }}
</h2>

<div class="icon-mail">
   <img src="/assets/images/gmail.png" alt="Minha foto">
</div>
<h2 class="four-text-contatos" >
{{ site.data.perfil.mail }}
</h2>